@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue-Regular.eot');
  src: url('../fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
       url('../fonts/BebasNeue-Regular.woff') format('woff'),
       url('../fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
};

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

::-moz-selection {
  background: #b9ccd5
}

::-ms-selection {
  background: #b9ccd5
}

::-o-selection {
  background: #b9ccd5
}

::-webkit-selection {
  background: #b9ccd5
}

::selection {
  background: #b9ccd5
}

* {
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  color: inherit
}

*,
*::before,
*::after {
  box-sizing: border-box
}

:root {
  font-size: 18px
}

body, html{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
}

h1,
h2, .navbar li {
    font-family: 'BebasNeue';
    font-weight: normal;
    font-size: 2rem;
    color: #243f99
}

h1,
h2,
h3 {
    line-height: 1.05
}

h1,
h3 {
    font-family: 'BebasNeue';
    font-weight: normal;
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

h1 {
    text-align: center;
    margin: 1.5rem 0 1rem 0;
    font-size: 2.5em;
}

h2 {
    margin: 1.5rem 0 1rem 0;
    font-size: 2.5em
}

a {
    color: #A8A8A8;
    text-decoration: none
}

a:hover,
a:focus {
    color: #ccc
}

main a {
    color: #b12c89
}

main a:hover,
main a:focus {
    color: #e62a88;
    text-decoration: none;
}

html, body {
  position: relative;
  height: 100%;
}
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #3c2f6e;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.jumbotron {
  background: #fff;
  padding: 0;
  margin-bottom: 0;
  border-bottom: solid 2px #666;
}
#main-content {
  padding: 2em 0 1em;
}
.padding-top {
  padding-top: 3em;
}
.margin-bottom {
  margin-bottom: 1.5em;
}

.navbar-nav > li {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2rem
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link {
  color: #fff
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: #f2c6df;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #e195bf
}

footer {
  background: #47285c;
  color: #fff;
  padding: 2.5em 0em 0.8em;
  font-size: 0.75em;
  line-height: 1.5;
}
footer .social-links {
  text-align: right;
}
footer .social-links a img {
  width: 40px;
  height: 40px;
  margin-right: 1em;
}
footer .social-links a:last-child img {
  margin-right: 0;
}


.swiper-container {
  width: 100%;
  height:auto !important;
}
.swiper-slide {
  height:auto !important;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
  width: 100%;
  height: auto;
  background-size: cover;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin-right: 10px !important;
  display:inline-block;
  border-radius: 100%;
  border: solid #e195bf 1px;
  background: #ffffff;
  opacity: 1
}
.swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.swiper-pagination-bullet-active {
  background: #e195bf;
  opacity: 1
}

.img-works {
  margin-top: 30px;
}

.mission-list {
  padding-bottom: 15px;
}

.merch{
    font-family: 'BebasNeue';
    font-weight: normal;
    font-size: 1.8rem;
}

@media (min-width: 576px) {
  .navbar {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%)!important; /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)!important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)!important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 )!important; /* IE6-9 */
    position: absolute;
    top: 0;
    left: 0;
  }
  .navbar-nav > li {
      position: relative;
      margin-right: 8px;
  }
  .navbar-nav > li:not(:first-child):before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background: #fff;
      top: 50%;
      margin-top: -5px;
      right: -8px;
      z-index: 1;
      border-radius: 8px;
  }
  .navbar-nav > li:before {
      right: auto;
      left: -8px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  nav.navbar .container {
  }
  nav.navbar .navbar-brand.d-sm-block img{
    width: 90%;
  }
  .navbar-nav > li {
    font-size: 1.5rem
  }
  footer {
  text-align: center;
  }
  footer .social-links {
  text-align: center;
  }
}

@media (max-width: 575px) {
  .jumbotron{
    margin-top: 4em;
  }
  .midboss-castle {
    width: auto;
    max-height: 100px;
  }
  footer {
  text-align: center;
  }
  footer .social-links {
  text-align: center;
  }
}

/* Mailing List Sign Up Form*/
#signup form {text-align:center; padding:10px 0 10px 0;}
#signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#signup input.email { width: 200px;}
#signup .button {font-size: 15px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px;
  border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #444; box-sizing:border-box;
  height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s; }
#signup .button:hover {background-color:#777; cursor:pointer;}
#signup label {display:block; font-family: 'BebasNeue'; padding-bottom:0; }

.card {
  background-color: #444;
}

.btn-pink {
  color: #ffffff;
  background-color: #E195BF;
  border-color: #D185AF;
}

.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active,
.open .dropdown-toggle.btn-pink {
  color: #ffffff;
  background-color: #D185AF;
  border-color: #D185AF;
}

.btn-pink:active,
.btn-pink.active,
.open .dropdown-toggle.btn-pink {
  background-image: none;
}

.btn-pink.disabled,
.btn-pink[disabled],
fieldset[disabled] .btn-pink,
.btn-pink.disabled:hover,
.btn-pink[disabled]:hover,
fieldset[disabled] .btn-pink:hover,
.btn-pink.disabled:focus,
.btn-pink[disabled]:focus,
fieldset[disabled] .btn-pink:focus,
.btn-pink.disabled:active,
.btn-pink[disabled]:active,
fieldset[disabled] .btn-pink:active,
.btn-pink.disabled.active,
.btn-pink[disabled].active,
fieldset[disabled] .btn-pink.active {
  background-color: #E195BF;
  border-color: #D185AF;
}

.btn-pink .badge {
  color: #E195BF;
  background-color: #ffffff;
}

.mediainfo {
  color: #aaa;
  font-size: .9em;

}

/* Mailing List Sign Up Form*/
#signup h2 {
color: #1f52a4;
margin-bottom: -8px;
}
#signup form {text-align:center; padding:10px 0 10px 0; margin-bottom:40px;}
#signup input.email {font-family:"Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif; font-size: 15px; border: 1px solid #ABB0B2;  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #343434; background-color: #fff; box-sizing:border-box; height:32px; padding: 0px 0.4em; display: inline-block; margin: 0; width:350px; vertical-align:top;}
#signup input.email { width: 200px;}
#signup .button {font-size: 15px; border: none; -webkit-border-radius: 3px; -moz-border-radius: 3px;
  border-radius: 3px; letter-spacing: .03em; color: #fff; background-color: #2d95d4; box-sizing:border-box;
  height:32px; line-height:32px; padding:0 18px; display: inline-block; margin: 0; transition: all 0.23s ease-in-out 0s; }
#signup .button:hover {background-color:#1f52a4; cursor:pointer;}
#signup label {display:block; font-family: 'BebasNeue'; padding-bottom:0; }


.header-comic{
  width:100%;
  height:49.1vw;
  position: relative;
  overflow: hidden;
}

.header-background{
  width:100%;
  height:100%;
  background-image:url("./../imgs/comicbg.png");
  background-repeat:no-repeat;
  background-size:cover;
}

.header-logo{
  width:100%;
  height:100%;
  background-image:url("./../imgs/logo.png");
  background-repeat:no-repeat;
  background-size:cover;
  left: -10px!important;
}

.header-logobackground{
  width:100%;
  height:100%;
  background-image:url("./../imgs/logobg.png");
  background-repeat:no-repeat;
  background-size:cover;
  left: -10px!important;
}

.header-lexi{
  width:100%;
  height:100%;
  background-image:url("./../imgs/lexi.png");
  position: absolute;
  background-repeat:no-repeat;
  background-size:contain;
  left: -10px!important;
}

.header-panelright{
  width:100%;
  height:100%;
  background-image:url("./../imgs/panelr.png");
  position: absolute;
  background-repeat:no-repeat;
  background-size:contain;
}

.header-panelleft{
  width:100%;
  height:100%;
  background-image:url("./../imgs/panell.png");
  position: absolute;
  background-repeat:no-repeat;
  background-size:contain;
}

.header-comic ul{
  margin:0;
  padding:0;
  list-style: none;
}
.header-comic li{
  margin:0;
  padding:0;
}

#footerimg {
    width: 100%;
}

.header-compact{
background: url("./../imgs/headerpattern.png") repeat-x;
background-position: bottom left;
margin-bottom: 2em;
}

.inner-header{
background: url("./../imgs/smallheader5.png");
background-position: bottom left;
background-repeat:no-repeat;
text-align: center;
height: 100%;
}

.contestrules h2{
  text-align: center;
}

.contestrules ol > li::marker{
  font-weight: bold;
  color: #962f6b;
}

.contestrules li{
  padding: 20px 0 20px 0;
}

header {
  margin-bottom: -70px;
}

.steamwidget {
  padding: 20px 0 20px 0;
}
