ul.lst-kix_ncdwvmut0042-8 {
    list-style-type: none
}

ul.lst-kix_ncdwvmut0042-7 {
    list-style-type: none
}

ul.lst-kix_ncdwvmut0042-6 {
    list-style-type: none
}

ul.lst-kix_ncdwvmut0042-5 {
    list-style-type: none
}

.lst-kix_ncdwvmut0042-3>li:before {
    content: "\0025cf  "
}

.lst-kix_ncdwvmut0042-2>li:before {
    content: "\0025a0  "
}

.lst-kix_ncdwvmut0042-1>li:before {
    content: "\0025cb  "
}

.lst-kix_ncdwvmut0042-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_co2ypd6ajnbd-0 {
    list-style-type: none
}

ul.lst-kix_7sw5fowwz364-8 {
    list-style-type: none
}

ul.lst-kix_7sw5fowwz364-7 {
    list-style-type: none
}

ul.lst-kix_co2ypd6ajnbd-7 {
    list-style-type: none
}

ul.lst-kix_co2ypd6ajnbd-8 {
    list-style-type: none
}

ul.lst-kix_co2ypd6ajnbd-5 {
    list-style-type: none
}

ul.lst-kix_co2ypd6ajnbd-6 {
    list-style-type: none
}

ul.lst-kix_co2ypd6ajnbd-3 {
    list-style-type: none
}

ul.lst-kix_co2ypd6ajnbd-4 {
    list-style-type: none
}

ul.lst-kix_co2ypd6ajnbd-1 {
    list-style-type: none
}

ul.lst-kix_co2ypd6ajnbd-2 {
    list-style-type: none
}

.lst-kix_ncdwvmut0042-4>li:before {
    content: "\0025cb  "
}

.lst-kix_ncdwvmut0042-5>li:before {
    content: "\0025a0  "
}

.lst-kix_ncdwvmut0042-7>li:before {
    content: "\0025cb  "
}

.lst-kix_ncdwvmut0042-6>li:before {
    content: "\0025cf  "
}

.lst-kix_ncdwvmut0042-8>li:before {
    content: "\0025a0  "
}

.lst-kix_ll0wsxnb39i8-0>li:before {
    content: "\0025cf  "
}

ul.lst-kix_7jv2l0mynuxb-5 {
    list-style-type: none
}

ul.lst-kix_7jv2l0mynuxb-6 {
    list-style-type: none
}

ul.lst-kix_7jv2l0mynuxb-7 {
    list-style-type: none
}

ul.lst-kix_7jv2l0mynuxb-8 {
    list-style-type: none
}

ul.lst-kix_7jv2l0mynuxb-1 {
    list-style-type: none
}

ul.lst-kix_7jv2l0mynuxb-2 {
    list-style-type: none
}

.lst-kix_ll0wsxnb39i8-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_7jv2l0mynuxb-3 {
    list-style-type: none
}

ul.lst-kix_7jv2l0mynuxb-4 {
    list-style-type: none
}

.lst-kix_ll0wsxnb39i8-2>li:before {
    content: "\0025a0  "
}

.lst-kix_ll0wsxnb39i8-1>li:before {
    content: "\0025cb  "
}

.lst-kix_ll0wsxnb39i8-8>li:before {
    content: "\0025a0  "
}

.lst-kix_7sw5fowwz364-0>li:before {
    content: "\0025cf  "
}

.lst-kix_7sw5fowwz364-1>li:before {
    content: "\0025cb  "
}

.lst-kix_ll0wsxnb39i8-7>li:before {
    content: "\0025cb  "
}

.lst-kix_ll0wsxnb39i8-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_7jv2l0mynuxb-0 {
    list-style-type: none
}

.lst-kix_ll0wsxnb39i8-6>li:before {
    content: "\0025cf  "
}

.lst-kix_ll0wsxnb39i8-5>li:before {
    content: "\0025a0  "
}

.lst-kix_7sw5fowwz364-7>li:before {
    content: "\0025cb  "
}

.lst-kix_7sw5fowwz364-8>li:before {
    content: "\0025a0  "
}

.lst-kix_7sw5fowwz364-5>li:before {
    content: "\0025a0  "
}

.lst-kix_7sw5fowwz364-3>li:before {
    content: "\0025cf  "
}

.lst-kix_7sw5fowwz364-4>li:before {
    content: "\0025cb  "
}

.lst-kix_7sw5fowwz364-2>li:before {
    content: "\0025a0  "
}

.lst-kix_7sw5fowwz364-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_1zdfmim7wm5l-3 {
    list-style-type: none
}

ul.lst-kix_1zdfmim7wm5l-4 {
    list-style-type: none
}

ul.lst-kix_1zdfmim7wm5l-5 {
    list-style-type: none
}

ul.lst-kix_1zdfmim7wm5l-6 {
    list-style-type: none
}

.lst-kix_7jv2l0mynuxb-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_1zdfmim7wm5l-7 {
    list-style-type: none
}

ul.lst-kix_1zdfmim7wm5l-8 {
    list-style-type: none
}

.lst-kix_1zdfmim7wm5l-2>li:before {
    content: "\0025a0  "
}

.lst-kix_7jv2l0mynuxb-6>li:before {
    content: "\0025cf  "
}

.lst-kix_cfjm5flfrhbi-2>li:before {
    content: "\0025a0  "
}

.lst-kix_1zdfmim7wm5l-3>li:before {
    content: "\0025cf  "
}

.lst-kix_cfjm5flfrhbi-3>li:before {
    content: "\0025cf  "
}

.lst-kix_1zdfmim7wm5l-4>li:before {
    content: "\0025cb  "
}

.lst-kix_7jv2l0mynuxb-8>li:before {
    content: "\0025a0  "
}

.lst-kix_cfjm5flfrhbi-5>li:before {
    content: "\0025a0  "
}

.lst-kix_cfjm5flfrhbi-4>li:before {
    content: "\0025cb  "
}

.lst-kix_cfjm5flfrhbi-6>li:before {
    content: "\0025cf  "
}

.lst-kix_co2ypd6ajnbd-0>li:before {
    content: "\0025cf  "
}

.lst-kix_cfjm5flfrhbi-8>li:before {
    content: "\0025a0  "
}

.lst-kix_1zdfmim7wm5l-1>li:before {
    content: "\0025cb  "
}

.lst-kix_cfjm5flfrhbi-7>li:before {
    content: "\0025cb  "
}

.lst-kix_1zdfmim7wm5l-0>li:before {
    content: "\0025cf  "
}

.lst-kix_co2ypd6ajnbd-5>li:before {
    content: "\0025a0  "
}

.lst-kix_co2ypd6ajnbd-4>li:before {
    content: "\0025cb  "
}

.lst-kix_co2ypd6ajnbd-8>li:before {
    content: "\0025a0  "
}

.lst-kix_co2ypd6ajnbd-1>li:before {
    content: "\0025cb  "
}

.lst-kix_co2ypd6ajnbd-3>li:before {
    content: "\0025cf  "
}

.lst-kix_co2ypd6ajnbd-2>li:before {
    content: "\0025a0  "
}

.lst-kix_7jv2l0mynuxb-0>li:before {
    content: "\0025cf  "
}

.lst-kix_1zdfmim7wm5l-6>li:before {
    content: "\0025cf  "
}

.lst-kix_1zdfmim7wm5l-5>li:before {
    content: "\0025a0  "
}

.lst-kix_1zdfmim7wm5l-7>li:before {
    content: "\0025cb  "
}

.lst-kix_g5th3hugg0so-1>li:before {
    content: "\0025cb  "
}

.lst-kix_7jv2l0mynuxb-1>li:before {
    content: "\0025cb  "
}

.lst-kix_g5th3hugg0so-0>li:before {
    content: "\0025cf  "
}

.lst-kix_7jv2l0mynuxb-2>li:before {
    content: "\0025a0  "
}

.lst-kix_cfjm5flfrhbi-1>li:before {
    content: "\0025cb  "
}

.lst-kix_cfjm5flfrhbi-0>li:before {
    content: "\0025cf  "
}

.lst-kix_7jv2l0mynuxb-3>li:before {
    content: "\0025cf  "
}

.lst-kix_7jv2l0mynuxb-5>li:before {
    content: "\0025a0  "
}

.lst-kix_1zdfmim7wm5l-8>li:before {
    content: "\0025a0  "
}

.lst-kix_co2ypd6ajnbd-7>li:before {
    content: "\0025cb  "
}

.lst-kix_co2ypd6ajnbd-6>li:before {
    content: "\0025cf  "
}

.lst-kix_7jv2l0mynuxb-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_cfjm5flfrhbi-2 {
    list-style-type: none
}

ul.lst-kix_cfjm5flfrhbi-1 {
    list-style-type: none
}

ul.lst-kix_cfjm5flfrhbi-0 {
    list-style-type: none
}

.lst-kix_g5th3hugg0so-2>li:before {
    content: "\0025a0  "
}

ul.lst-kix_ll0wsxnb39i8-3 {
    list-style-type: none
}

ul.lst-kix_ll0wsxnb39i8-2 {
    list-style-type: none
}

.lst-kix_g5th3hugg0so-3>li:before {
    content: "\0025cf  "
}

ul.lst-kix_ll0wsxnb39i8-1 {
    list-style-type: none
}

ul.lst-kix_ll0wsxnb39i8-0 {
    list-style-type: none
}

.lst-kix_g5th3hugg0so-4>li:before {
    content: "\0025cb  "
}

ul.lst-kix_7sw5fowwz364-6 {
    list-style-type: none
}

.lst-kix_g5th3hugg0so-6>li:before {
    content: "\0025cf  "
}

ul.lst-kix_cfjm5flfrhbi-6 {
    list-style-type: none
}

ul.lst-kix_7sw5fowwz364-5 {
    list-style-type: none
}

ul.lst-kix_cfjm5flfrhbi-5 {
    list-style-type: none
}

ul.lst-kix_7sw5fowwz364-4 {
    list-style-type: none
}

.lst-kix_g5th3hugg0so-5>li:before {
    content: "\0025a0  "
}

.lst-kix_g5th3hugg0so-7>li:before {
    content: "\0025cb  "
}

ul.lst-kix_cfjm5flfrhbi-4 {
    list-style-type: none
}

ul.lst-kix_7sw5fowwz364-3 {
    list-style-type: none
}

ul.lst-kix_ll0wsxnb39i8-8 {
    list-style-type: none
}

ul.lst-kix_cfjm5flfrhbi-3 {
    list-style-type: none
}

ul.lst-kix_7sw5fowwz364-2 {
    list-style-type: none
}

ul.lst-kix_ll0wsxnb39i8-7 {
    list-style-type: none
}

ul.lst-kix_7sw5fowwz364-1 {
    list-style-type: none
}

ul.lst-kix_ll0wsxnb39i8-6 {
    list-style-type: none
}

ul.lst-kix_7sw5fowwz364-0 {
    list-style-type: none
}

ul.lst-kix_ll0wsxnb39i8-5 {
    list-style-type: none
}

ul.lst-kix_cfjm5flfrhbi-8 {
    list-style-type: none
}

ul.lst-kix_ll0wsxnb39i8-4 {
    list-style-type: none
}

ul.lst-kix_cfjm5flfrhbi-7 {
    list-style-type: none
}

.lst-kix_g5th3hugg0so-8>li:before {
    content: "\0025a0  "
}

ul.lst-kix_g5th3hugg0so-6 {
    list-style-type: none
}

ul.lst-kix_g5th3hugg0so-5 {
    list-style-type: none
}

ul.lst-kix_g5th3hugg0so-4 {
    list-style-type: none
}

ul.lst-kix_g5th3hugg0so-3 {
    list-style-type: none
}

ul.lst-kix_g5th3hugg0so-8 {
    list-style-type: none
}

ul.lst-kix_g5th3hugg0so-7 {
    list-style-type: none
}

ul.lst-kix_ncdwvmut0042-0 {
    list-style-type: none
}

ul.lst-kix_ncdwvmut0042-4 {
    list-style-type: none
}

ul.lst-kix_g5th3hugg0so-2 {
    list-style-type: none
}

ul.lst-kix_ncdwvmut0042-3 {
    list-style-type: none
}

ul.lst-kix_g5th3hugg0so-1 {
    list-style-type: none
}

ul.lst-kix_ncdwvmut0042-2 {
    list-style-type: none
}

ul.lst-kix_g5th3hugg0so-0 {
    list-style-type: none
}

ul.lst-kix_ncdwvmut0042-1 {
    list-style-type: none
}

ul.lst-kix_1zdfmim7wm5l-0 {
    list-style-type: none
}

ul.lst-kix_1zdfmim7wm5l-1 {
    list-style-type: none
}

ul.lst-kix_1zdfmim7wm5l-2 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c1 {
    margin-left: 59pt;
    padding-top: 2pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.425;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c17 {
    margin-left: 36pt;
    padding-top: 9pt;
    padding-left: 0pt;
    padding-bottom: 4pt;
    line-height: 1.425;
    text-align: left;
    margin-right: -7pt
}

.c16 {
    color: ##ffffff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Open Sans";
    font-style: normal
}

.c4 {
    color: ##ffffff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Open Sans";
    font-style: normal
}

.c2 {
    color: ##ffffff;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Open Sans";
    font-style: normal
}

.c7 {
    color: ##ffffff;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Open Sans";
    font-style: normal
}

.c26 {
    margin-left: 36pt;
    padding-top: 9pt;
    padding-left: 0pt;
    padding-bottom: 4pt;
    line-height: 1.425;
    text-align: left;
    margin-right: 4pt
}

.c36 {
    color: ##ffffff;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14.5pt;
    font-family: "Open Sans";
    font-style: normal
}

.c32 {
    color: ##ffffff;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Open Sans";
    font-style: normal
}

.c20 {
    color: ##ffffff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Open Sans";
    font-style: normal
}

.c18 {
    color: ##ffffff;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Open Sans";
    font-style: normal
}

.c21 {
    padding-top: 8pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c31 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.6764705882352942;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5 {
    margin-left: 119pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.425;
    text-align: left
}

.c33 {
    margin-left: -7pt;
    padding-top: -8pt;
    padding-bottom: 8pt;
    line-height: 1.425;
    text-align: left;
    margin-right: -7pt
}

.c13 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.425;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c12 {
    padding-top: 8pt;
    padding-bottom: 0pt;
    line-height: 1.425;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c25 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Open Sans";
    font-style: normal
}

.c24 {
    text-decoration-skip-ink: none;
    font-size: 10pt;
    -webkit-text-decoration-skip: none;
    color: ##ffffff;
    text-decoration: underline
}

.c27 {
    padding-top: 0pt;
    padding-bottom: 4pt;
    line-height: 1.1896551724137931;
    text-align: left
}

.c23 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c10 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.425;
    text-align: left
}

.c30 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.2115384615384615;
    text-align: center
}

.c3 {
    padding-top: 8pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c15 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.2115384615384615;
    text-align: left
}

.c29 {
    background-color: ##ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c6 {
    font-size: 10pt;
    color: ##ffffff;
    font-weight: 700
}

.c8 {
    margin-left: 108pt;
    padding-left: 0pt;
    margin-right: 11pt
}

.c19 {
    margin-left: 72pt;
    padding-left: 0pt;
    margin-right: 11pt
}

.c34 {
    orphans: 2;
    widows: 2
}

.c14 {
    color: inherit;
    text-decoration: inherit
}

.c11 {
    padding: 0;
    margin: 0
}

.c22 {
    color: ##ffffff;
    font-size: 8.5pt
}

.c35 {
    margin-left: 83pt;
    padding-left: 0pt
}

.c28 {
    color: ##ffffff;
    font-size: 10pt
}

.c37 {
    color: ##ffffff;
    font-size: 14.5pt
}

.c9 {
    height: 11pt
}

.title {
    padding-top: 0pt;
    color: ##ffffff;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Open Sans";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: ##ffffff;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Open Sans";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: ##ffffff;
    font-size: 11pt;
    font-family: "Open Sans"
}

p {
    margin: 0;
    color: ##ffffff;
    font-size: 11pt;
    font-family: "Open Sans"
}

h1 {
    padding-top: 20pt;
    color: ##ffffff;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Open Sans";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: ##ffffff;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Open Sans";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: ##ffffff;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Open Sans";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: ##ffffff;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Open Sans";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: ##ffffff;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Open Sans";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: ##ffffff;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Open Sans";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}